*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
.navBarContainer{
    width: 80%;
    margin: auto;
}
.formContent{
    width: 500px;
    border-radius: 25px;
    background-color: #afdbff;
    padding: 30px;
    margin: 100px auto;
}
.formContent h3{
    text-align: center;
    font-size: 30px;
}


.disc{
    width: 75%;
    margin: 10px auto;
}


.fileList{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr;
    padding: 20px 0 ;
    border-bottom: 1px solid black;
}
.file{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr;
    padding: 20px 0 ;
    cursor: pointer;
    border-bottom: 1px solid black;
}
.file:hover{
    transform: scale(1.01);
}