*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}
.navBarContainer{
    width: 80%;
    margin: auto;
}
.formContent{
    width: 500px;
    border-radius: 25px;
    background-color: #afdbff;
    padding: 30px;
    margin: 100px auto;
}
.formContent h3{
    text-align: center;
    font-size: 30px;
}


.disc{
    width: 75%;
    margin: 10px auto;
}
.diskBtns{
    display: flex;
    justify-content: space-between;
}
.fileInput{
    display:none;
}

.fileList{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr;
    padding: 20px 0 ;
    border-bottom: 1px solid black;
}
.select{
    width: 100px;
    height: 20px;
}
.file{
    display: grid;
    position: relative;
    overflow:hidden;
    grid-template-columns: 1fr 6fr 1fr 1fr;
    height: 65px;
    line-height: 65px;
    cursor: pointer;
    border-bottom: 1px solid black;
    transition: background-color 0.3s ease-in ;
}
.file:hover{
    background-color: rgb(197, 197, 197);
}

.popup{
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    width: 100%;
    height: 100%;
    background-color: #0e0a0a8e;
}
.popupContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    padding:40px;   
    border-radius: 25px;
    background-color: #fff6f6;
}
.popupHeader{
    display: flex;
    justify-content: space-between;
}
.dragFile{
    content: "";
    position: absolute;
    outline:#000000 dashed 4px;
    outline-offset: -20px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    pointer-events:none;
    user-select:none;
}
.dragFile span{
    align-self: center;
    font-size: 25px;
    pointer-events:none;
    user-select:none;
}
.dragLabel{
    display: block;
    margin-top:20px;
    padding: 3px;
    width: 100%;
    height: 80vh;
    position: relative;
    color: black;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.281);
}
.tileContainer{
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
}
.fileTile:hover > .tileActionBtn{
    max-height: 50px;
}
.tileActionBtn{
position: absolute;
display: flex;
justify-content: space-around;
width: 120px;
bottom: 0;
max-height: 0px;
transition: max-height 0.2s ease-in;
}
.tileActionBtn > button {
    width: 40px;
    height: 40px;
    padding: 0;
}
.fileTile:hover{
    background-color: #c5e0ff;
}

.fileTile{
    width: 120px;
    height: 100px;
    position: relative;
    overflow: hidden;
    padding: 15px 5px;
    border-radius: 5px;
    margin-bottom:15px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    cursor: pointer;
transition: background-color 0.2s ease-in;

}
.fileTile > i{
    font-size: 30px;
}

.fileActionBtn{
    position: absolute;
    display: flex;
    max-width: 0px;
    height: 64px;
    z-index: 2;
    width: 200px;
    overflow:hidden;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    top: 0;
    right: 0px;
    transition: max-width 0.4s ease-in-out;
}
.file:hover > .fileActionBtn{
    right: 0px;
    max-width: 200px;
    transition: max-width 0.4s ease-in-out;
}
.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.searchBox{
    width: 250px;
    position: relative;
    margin-right: 20px;
}


.searchIcon{
    position: absolute;
    cursor: pointer;
    right:0;
    top: 0;
}
.rightSideBtn{
    display: flex;
}
.searchSelector{
    display: block;

}
.searchSelector select{
    display: flex;
}
.navbarAvatarContainer{
    padding: 0;
    display: flex;
    
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    transform: translateY(13px);
}
.navbarAvatar{
    min-width: 40px;
    max-width: 40px;
 
    

}